@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-color: darkgray;

}
header
{
    height: 150px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px #00000041;
}
header >h1
{
    font-family: cursive;
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
}
#turno
{
    width: fit-content;
    margin: auto;
    margin-bottom: 60px;
}
#turno > h1
{
    float: left;
    padding-top: 6px;
}
main
{
    max-width: 400px;
    height: 450px;
    background-color: aliceblue;
    margin: auto;
    padding: 70px 50px 150px 50px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 3px #00000041;

}

.tabuleiro
{
    margin: auto;
    background-color: aliceblue;
    width: 312px;
    height: 312px;
    box-shadow: 2px 2px 3px #00000041;
    border-radius: 10px;

}
.espaco
{
    width: 100px;
    height: 100px;
    float: left;

    background-color: white;
    border: 2px solid black;
}
footer
{
    margin-top: 118px;
    padding:10px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.borda1
{
    border-radius: 10px 0px 0px 0px;
}
.borda2
{
    border-radius: 0px 10px 0px 0px;
}
.borda3
{
    border-radius: 0px 0px 0px 10px;
}
.borda4
{
    border-radius: 0px 0px 10px 0px;
}